<!docType html>
<html lang="en">
    <head>

        <title>HyperRaffles.com</title>

        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/main.phone.css" />
    </head>
    <body>
        <div id="app">
            <div class="menu">
                <a href="/" title="List of all raffles"><b>Raffles</b></a>
                <div class="right">
                    <% if (user != null) { %>
                        <a href="/deposit" title="Deposit">
                            <i class="fas fa-dollar-sign"></i> 
                            <b class="balance">0.00</b>
                        </a>
                        <a href="/account" title="Your account">
                            <img src="<%-user.avatar%>" title="<%-user.username%>" style="border-radius: 50%; max-height: 35px; margin-bottom: -12px;">
                        </a>
                    <% }%>
                        <a href="/help" title="Help, FAQ and Support"><i class="fas fa-question"></i></a>
                    <% if (user != null) { %>
                        <a href="/logout" title="Logout"><i class="fas fa-power-off"></i></a>
                    <% }%>
                    <% if (user == null) { %>
                        <a href="/login" title="Login with OPSkins" style="text-transform: none;">Login with OPSkins</a>
                    <% }%>
                </div>
            </div>
            <div class="chat">
                <div class="title">
                    <b class="highlight">Hyper</b><b>Raffles.com</b>
                </div>
                <div class="messages">
                  <div class="chat-msg" id="15" v-for="i in 50">
                    <div class="avatar">
                      <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ac/acab4a6b8fa88eb44569321355a1750fed412bb1_full.jpg"/>
                    </div>
                    <div class="text">
                      <div class="user">ruukiZ</div>
                      <div class="message">Hello. This is a test message. To show you the chat.</div>
                    </div>
                  </div>

                </div>
                <% if (user != null) { %>
                <div class="form">
                    <div class="send">
                        <input class="sendMessage" placeholder="Send message..."/>
                        <img class="sendMessageButton" src="/assets/images/send.png"/>
                    </div>
                </div>
                <% }%>
            </div>
            <!-- CONTENT -->
            
